
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

*,*::before, *::after{
    box-sizing:inherit;
}

html{
    position:relative;
}

html::before {
    content: "";
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.93), rgba(255, 255, 255, 1)), url("images/social_network.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

body, html{
    box-sizing:border-box;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,Liberation Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    scroll-behavior:smooth;
    height: 100%;
    line-height:1.5;
}

body{
    padding-bottom:30px;
}

.panes{
    padding-left:30px;
    padding-right:20px;
    padding-top:20px;
}

.left-pane-text>h1{
    padding-bottom:20px;
}

.intro-text>h3, .benefits-list>h3, .rights>h3, .sign-up, .who-can-participate>h3{
    padding-top:15px;
    padding-bottom:15px;
}

.intro-image{
    padding-top:30px;
    padding-bottom:30px;
}

.right-pane{
    padding-bottom:100px;
}

.right-pane-survey-link {
    margin-top:30px;
    margin-bottom:30px;
    padding-top:15px;
    display: flex;
    flex-direction:column;
    align-items:center;
    background-color:rgb(85,76,57);
    color:rgb(237, 237, 236);
    border-radius: 5px;
    align-items: center;
    padding-bottom:30px;
}

.right-pane-survey-link>h2{
    text-align:center;
    margin: 10px 0;
}

.right-pane-survey-link>p{
    text-align:left;
    margin: 1px 0;
}

.right-pane-survey-link>a{
    margin-top:20px;
    padding: 0;
}

.survey-button{
    background-color:rgb(181,71,41);
    color:white;
    margin: 0;
    padding:15px;
    padding-left:50px;
    padding-right:50px;
    border:none;
    outline:none;
    cursor:pointer;
    font-size:larger;
    border-radius: 20px;
    font-weight:700;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.survey-button:hover{
    background-color:rgb(233, 153, 130);
    color:rgb(77, 58, 30);
    transform: scale(1.05);
}

.right-pane-locational-map {
    text-align:center;
    height:400px;
}

.right-pane-locational-map>h2{
    padding-bottom:30px;
}

