
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

*,*::before, *::after{
    box-sizing:inherit;
}

html{
    position:relative;
    padding-bottom:30px;
}

html::before {
    content: "";
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.93), rgba(255, 255, 255, 1)), url("images/social_network.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

body, html{
    box-sizing:border-box;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,Liberation Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    scroll-behavior:smooth;
    height: 100%;
    line-height:1.5;
}

@media screen and (max-width: 55em){
    .body {
        font-size:60%;
    }
}

.panes{
    display:flex;
    height: calc(100vh - 20px);
}

@media screen and (max-width: 55em){
    .panes{
        display:block;
        padding-left:30px;
        padding-right:20px;
        padding-top:20px;
    }
}


.left-pane{
    flex: 0 0 65%;
    padding:20px 20px 30px 100px;
}

@media screen and (max-width: 55em){
    .left-pane {
        margin: 0;
        padding: 0;
    }
}

.left-pane-text>h1{
    padding-bottom:20px;
}

.left-pane-text{
    flex:1;
    padding:20px;
}

.right-pane {
    flex: 1;
    padding-top: 10px;
    padding-right: 30px;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 35%;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 55em){
    .right-pane {
        flex: initial;
        padding-top: initial;
        padding-right: initial;
        position: static;
        top: auto;
        bottom: auto;
        right: auto;
        width: auto;
        display: block;
        flex-direction: initial;
    }
}

.introduction{
    display:flex;
}

@media screen and (max-width: 55em){
    .introduction {
        display:block;
        align-items:center;
    }
}

.intro-text{
    margin-right: 10px;
}

@media screen and (max-width: 55em){
    .intro-text {
        margin:0px;
    }
}

.intro-text>h3, .benefits-list>h3, .rights>h3, .sign-up, .who-can-participate>h3{
    padding-top:15px;
    padding-bottom:15px;
}

.intro-image{
    align-content:center;
    width:100%;
}

@media screen and (max-width: 55em){
    .intro-image{
        padding-top:30px;
        padding-bottom:30px;
        width:100%;
        align-content:center;
    }
}


.intro-text, .intro-image{
    flex: 1;
}

.overrun>p{
    padding-top:15px;
}

.link-and-map{
    display:flex;
    flex-direction:column;
    align-items:center;
}

.right-pane-survey-link, .right-pane-locational-map{
   width:90%;
   margin: 0 auto;
}

.right-pane-survey-link {
    padding-top:15px;
    display: flex;
    flex-direction:column;
    align-items:center;
    background-color:rgb(85,76,57);
    color:rgb(237, 237, 236);
    border-radius: 5px;
    align-items: center;
    padding-bottom:30px;
    box-shadow:1px 1px 15px rgba(0,0,0,0.32);
}

.right-pane-survey-link>h2{
    text-align:center;
    margin: 10px 0;
}

.right-pane-survey-link>p{
    text-align:left;
    margin: 1px 0;
}

.right-pane-survey-link>a{
    margin-top:20px;
    padding: 0;
}

.survey-button{
    background-color:rgb(181,71,41);
    box-shadow:1px 1px 15px rgba(0,0,0,0.32);
    color:white;
    margin: 0;
    padding:15px;
    padding-left:50px;
    padding-right:50px;
    border:none;
    outline:none;
    cursor:pointer;
    font-size:larger;
    border-radius: 50px;
    font-weight:700;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.survey-button:hover{
    background-color:rgb(233, 153, 130);
    color:rgb(77, 58, 30);
    transform: scale(1.05);
    box-shadow:1px 1px 15px rgba(0,0,0,0.32);
}

.right-pane-locational-map>h2{
    padding-bottom:30px;
    padding-top:14px;
}

.right-pane-locational-map {
    background-color:white;
    text-align:center;
    height:400px;
    flex-grow: 1;
    box-shadow:1px 1px 15px rgba(0,0,0,0.32);
}
